{% extends 'Admin/base.html.twig' %}

{% block title %}Dodavanje/Izmena kataloga{% endblock %}
{% block bodyClass %}catalog-edit{% endblock %}

{% set IS_EDIT = app.request.attributes.get('_route') == 'admin.edit_catalog_page' %}

{% block content %}
    {% include 'Admin/Components/breadcrumbs.html.twig' with {activePage: 'Dodavanje - izmena kataloga' } %}

    {% import 'Admin/Macros/Inputs/formWithLabels.html.twig' as form %}

    <div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
        <div>
            <h4 class="mb-3 mb-md-0">Katalog - 1060x1580</h4>
        </div>
    </div>

    <form id="edit_form" enctype="multipart/form-data">
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <div class="form-group">
                    {{ form.input('Naziv na hrvatskom', 'catalog_title_rs', IS_EDIT ? rs_title : '', 'rs_title') }}
                </div>
            </div><!-- Col -->
            <div class="col-sm-6 col-md-6">
                <div class="form-group">
                    {{ form.input('Naziv na engleskom', 'catalog_title_en', IS_EDIT ? en_title : '', 'en_title') }}
                </div>
            </div><!-- Col -->
        </div><!-- Row -->
        <div class="row">
            <div class="col-md-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title">Slike</h6>
                        <div class="row">
                            {% include 'Moduls/dropzone.html.twig' with {'dropzoneName': 'catalog', 'class': 'dropzone-dark w-100', 'maxFiles': 0} %}
                        </div><!--Row-->
                    </div>
                </div>
            </div>
        </div>
    </form>
    {{ form.button('catalog_submit', 'btn btn-outline-primary submit', 'Sačuvaj', 'button') }}
{% endblock %}
{% block pageJavascript %}
    <script nonce="{{ csp_nonce('script') }}">
        const CAN_VIEW = true;
        const CAN_EDIT = true;
        const CAN_REMOVE = true;
        const IS_EDIT = {{ true == IS_EDIT ? 1 : 0 }};

        {% if IS_EDIT %}
            const ID = '{{ app.request.attributes.get('id') }}';
            const IMAGES = JSON.parse('{{ selectedImages|json_encode()|raw }}');
        {% endif %}
    </script>
{% endblock %}