{% extends 'Admin/base.html.twig' %}

{% set textTypes = [
    {'title': 'Loyalty', 'value': constant('App\\Entity\\Description::TYPE_LOYALTY')},
    {'title': 'Politika privatnosti', 'value': constant('App\\Entity\\Description::TYPE_POLICY_AND_PRIVACY')},
    {'title': 'Uslovi korišćenja', 'value': constant('App\\Entity\\Description::TYPE_USE_CONDITIONS')},
    {'title': 'Saradnici', 'value': constant('App\\Entity\\Description::TYPE_COLLABORATOR')},
    {'title': 'Zaposlenje', 'value': constant('App\\Entity\\Description::TYPE_CAREER')},
    {'title': 'Politika kolačića', 'value': constant('App\\Entity\\Description::TYPE_COOKIE_POLICY')},
] %}

{% block title %}Dodavanje/Izmena tekstova{% endblock %}
{% block bodyClass %}description-edit{% endblock %}
{% set IS_EDIT = app.request.attributes.get('_route') == 'admin.edit_description_page' %}

{% block content %}

    {% include 'Admin/Components/breadcrumbs.html.twig' with {activePage: 'Dodavanje - izmena tekstova' } %}

    {% import 'Admin/Macros/Inputs/formWithLabels.html.twig' as form %}

    <div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
        <div>
            <h4 class="mb-3 mb-md-0">Tekstovi</h4>
        </div>
    </div>

    <form id="edit_form" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title">Tip teksta</h6>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    {{ form.select('', 'description_select_box', 'type', IS_EDIT ? type : '' , textTypes, '', 'w-100') }}
                                </div>
                            </div><!-- Col -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title">Hrvatski</h6>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="form-group">
                                        {{ form.textarea('Tekst*', 'description_rs', rs_description ?? null , 'rs_description', 10, '', 'form-control') }}
                                    </div>
                                </div>
                            </div><!-- Col -->
                        </div><!-- Row -->
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title">Engleski</h6>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="form-group">
                                        {{ form.textarea('Tekst *', 'description_en', en_description ?? null , 'en_description', 10, '', 'form-control') }}
                                    </div>
                                </div>
                            </div><!-- Col -->
                        </div><!-- Row -->
                    </div>
                </div>
            </div>
        </div>
    </form>
    {{ form.button('description_submit', 'btn btn-outline-primary submit', 'Sačuvaj', 'button') }}
{% endblock %}
{% block pageJavascript %}
    <script nonce="{{ csp_nonce('script') }}">
        const IS_EDIT = {{ IS_EDIT ? 1 : 0 }};
        const ID = '{{ app.request.attributes.get('id') }}';
    </script>
{% endblock %}