{% extends 'Admin/base.html.twig' %}

{% block title %}Dodavanje / Izmena tagova{% endblock %}

{% set routeSubName = routeName() == 'admin.add_blog_tag_page' or routeName() == 'admin.edit_blog_tag_page' ? 'blog' : 'product' %}

{% block content %}
    {% set IS_EDIT = routeName() == 'admin.edit_' ~ routeSubName ~ '_tag_page' %}
    {% include 'Admin/Components/breadcrumbs.html.twig' with {activePage: 'Dodavanje - izmena tagova' } %}

    {% import 'Admin/Macros/Inputs/formWithLabels.html.twig' as form %}


    <div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
        <div>
            <h4 class="mb-3 mb-md-0">Dodavanje - izmena tagova</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 stretch-card">
            <div class="card">
                <div class="card-body">
                    <form id="edit_form" enctype="multipart/form-data">
                        <div class="row">
                            {% for language in languages %}
                                {%  set trans = IS_EDIT ? tag.translationByLocale(language.code) : '' %}
                                <div class="col-sm-6 col-md-4">
                                    <div class="form-group">
                                        {{ form.input('Naziv - '~language.name|upper, 'title_'~language.code, IS_EDIT ? trans.label : '', 'title_'~language.code) }}
                                    </div>
                                </div><!-- Col -->
                            {% endfor %}
                        </div><!-- Row -->
                    </form>
                    {{ form.button('tag_submit', 'btn btn-primary submit', 'Sačuvaj', 'button') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block pageJavascript %}
    <script nonce="{{ csp_nonce('script') }}">
        const IS_EDIT = {{ app.request.attributes.has('id') ? 1 : 0 }};
        const ID = '{{ app.request.attributes.get('id') }}';
        const ROUTE_SUB_NAME = '{{ routeSubName }}';
    </script>
{% endblock %}